<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/xxx.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/xxx.%d{yyyy-MM-dd}.log.zip</fileNamePattern>  
</rollingPolicy>  
<layout class="ch.qos.logback.classic.PatternLayout">  
<pattern>%-20(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{80} - %msg%n</pattern>  
</layout>  
</appender>  

<appender name="sqlf"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/SQL.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/SQL.%d{yyyy-MM-dd}.log.zip</fileNamePattern>  
</rollingPolicy>  
<layout class="ch.qos.logback.classic.PatternLayout">  
<pattern>%-20(%d{HH:mm:ss.SSS}): %msg%n</pattern>  
</layout>  
</appender>  

<logger name="net.fly78.miniSQL.dbengine">   
	<level value="INFO" />   
    <appender-ref ref="sqlf" />   
</logger>   
<logger name="net.fly78.miniSQL.parser">   
	<level value="INFO" />   
    <appender-ref ref="sqlf" />   
</logger>  


</configuration> 



<!--
<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%-20(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{80} - %msg%n</pattern>  
		</layout>  
	</appender>  
	
	
	<logger name="java.sql.PreparedStatement" level="DEBUG" />  
	<logger name="org.springframework.ui.freemarker" level="DEBUG" />  
	
	
	<root level="NONE">  
		<appender-ref ref="stdout" />  
	</root>  
</configuration>  


<configuration>  
<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">  
<file>logs/xxx.log</file>  
<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
<fileNamePattern>logs/xxx.%d{yyyy-MM-dd}.log.zip</fileNamePattern>  
</rollingPolicy>  
<layout class="ch.qos.logback.classic.PatternLayout">  
<pattern>%-20(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{80} - %msg%n</pattern>  
</layout>  
</appender>  
<root level="WARN">  
<appender-ref ref="file" />  
</root>  
</configuration> 

-->